@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* ******** Utility classes ******** */
.text-light{
    color: white;
}
.text-light2{
    background: #e4edf5;
}



/* ******** Hover ******** */
body .container .card .box:hover {
    transform: translateX(20px);
    transform: translateY(-20px);
  }
  body .container .card .box .content a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    color: rgb(8, 8, 8);
  }

  nav .nav-links:hover{
    border-bottom: 1px solid #fff;
    transition: 3s;
}

/* ****** Background ******** */
.area{
    background: #030758;  
    background: -webkit-linear-gradient(to left, #9398fa, #4148c0);  
    width: 100%;
    height:100vh;
    position: relative;
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.274);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* ****** Navbar ****** */


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #030758;
    font-family: 'Montserrat', sans-serif;
}


.logo-a{
    color:rgb(255, 251, 251);
    text-decoration: none;
    /* text-transform: uppercase; */
    letter-spacing: 5px;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    
}
.nav-links li{
    list-style: none;
    
}
.nav-links a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 400;
    font-size:22px;
    
}
.burger{
    display:none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height:3px;
    background-color:rgb(255, 255, 255);
    margin:5px;
}

.main-header-div{
    position: absolute;
    top: 20%;
    left: 50%;
   transform: translate(-50%, -50%);
    text-align: center;
}
.main-header-div h2{
    font-size: 42px;
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: 10px;

}

.main-header-div p{
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 200;
}

/* ********* Section ************ */

  
.container{
    background-color: aliceblue;
    text-align: left;
    height: 480px;
    max-width: 1200px;
    width: 30%;
    margin: auto auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.form-floating{
    margin-right: 15vh;
    margin-left: 15vh;
  }

.form-control{
    padding: 14px;
    margin-bottom: 10px;
}

.checkbox{
    margin-top: 10pxpx;
      
}

.fw-normal{
    margin-top: 20px;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.btn2{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    width: 200px;
    
}


.btn-primary2{
    text-decoration: none;
    border: 2px solid rgb(70, 4, 253);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(70, 4, 253);
    margin-top: 20px;
}

.register-to{
    font-size: 14px;
}

.link-to{
    text-decoration: none;
}

.form1{
    margin: 35px;
}

.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 10px;
    outline: none;
}

.text-area{
    height: 90px;
    padding: 10px;
}